bin/ptc
bin/pti
cmd/ptc
coder/coder.def
coder/coder.out
coder/coder.sst
lib/pt/coder.def
lib/pt/coder.out
lib/pt/coder.sst
lib/pt/parser.def
lib/pt/parser.out
lib/pt/parser.sst
lib/pt/ptam.def
lib/pt/ptam.out
lib/pt/ptam.sst
lib/pt/ptruntime.o
lib/pt/scan.def
lib/pt/scan.sst
lib/pt/semantic.def
lib/pt/semantic.out
lib/pt/semantic.sst
lib/pt/stdIdentifiers
parser/parser.def
parser/parser.out
parser/scanner.out
parser/parser.sst
parser/scan.def
parser/scan.sst
ptam/ptam.def
ptam/ptam.out
ptam/ptam.sst
ptruntime/ptruntime.o
semantic/semantic.def
semantic/semantic.out
semantic/semantic.sst